
html, body {
    width: 100%;
    height: 100%;
}

.main-app {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    background: #F4F3F1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main-header, .main-body, .main-footer {
    flex-shrink: 0;
}

@media screen and (max-width: 1000px) {
    .about_me {
      margin-left: 0;
      margin-top: 65px;
    }
    .about_me h1 {
        font-size: 50px;
        padding-left: 5px;
        padding-top: 10px;
    }
    .about_me p {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }
    .app-header_menu ul {
        flex-direction: column;
        padding: 0;
        margin-top: 20px;
    }
    .app-header_menu li {
        padding-bottom: 20px;
    }
    .about_info-job {
        text-align: center;
    }
}
